<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Upload Picture</title>
</head>
<body background="{% static 'myapp/images/background.png' %}">
    <h2>Upload Picture</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            <img src="{% static 'myapp/images/Upload-button.png' %}" alt="Upload">
        </button>
    </form>
    
    {% if image_url %}
    <h1>{{brand}} is {{sus}}</h1>
    <img src="{{ image_url }}" alt="Uploaded Image">
    <form method="post" action="{% url 'delete_image' %}">
        {% csrf_token %}
        <button type="submit">Delete Image</button>
    </form>
    {% endif %}
</body>
</html>

